{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloud Foundry API",
    "description": "API compatible with Cloud Controller API v3, enabling developers to interact with Cloud Foundry resources programmatically.\n",
    "version": "0.0.1",
    "contact": {
      "name": "Cloud Foundry Foundation",
      "url": "https://cloudfoundry.org"
    },
    "termsOfService": "https://cloudfoundry.org/terms",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.cf.eu10.hana.ondemand.com/v3",
      "description": "SAP production server (default)"
    }
  ],
  "tags": [
    {
      "name": "Platform",
      "description": "Operations related to platform information and metadata."
    },
    {
      "name": "Application",
      "description": "Endpoints for managing applications."
    }
  ],
  "paths": {
    "/v3/info": {
      "summary": "Retrieve platform information",
      "description": "Returns metadata about the platform, such as the supported API versions, feature flags, and other relevant information.\n",
      "get": {
        "summary": "Retrieve API and platform information",
        "description": "Provides metadata about the Cloud Foundry API, including supported versions, available resources, and feature flags.\n",
        "operationId": "getApiInfo",
        "tags": [
          "Platform"
        ],
        "responses": {
          "200": {
            "description": "Successful response with platform information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the API platform.",
                      "example": "Cloud Foundry API"
                    },
                    "description": {
                      "type": "string",
                      "description": "A short description of the platform.",
                      "example": "Cloud Foundry API compatible with Cloud Controller v3"
                    },
                    "version": {
                      "type": "object",
                      "properties": {
                        "v3": {
                          "type": "string",
                          "description": "Current API version.",
                          "example": "3.101.0"
                        },
                        "minimum_v3": {
                          "type": "string",
                          "description": "Minimum supported API version.",
                          "example": "3.0.0"
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "A collection of key-value pairs where the key is the resource name and the value is the corresponding endpoint URL.\n",
                      "example": {
                        "apps": "/v3/apps",
                        "organizations": "/v3/organizations",
                        "spaces": "/v3/spaces"
                      }
                    },
                    "feature_flags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "boolean"
                      },
                      "description": "A collection of feature flags available in the platform, with their current states.\n",
                      "example": {
                        "user_org_creation": true,
                        "service_instance_sharing": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/apps": {
      "summary": "Manage applications.",
      "description": "Interact with application resources.",
      "get": {
        "summary": "List applications",
        "description": "Retrieve a list of all applications accessible to the user.",
        "operationId": "listApplications",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filter applications by their names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_results": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1v3~1apps/post/responses/201/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Server error."
          }
        }
      },
      "post": {
        "summary": "Create an application",
        "description": "Create a new application.",
        "tags": [
          "Application"
        ],
        "operationId": "createApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the application."
                  },
                  "relationships": {
                    "type": "object",
                    "properties": {
                      "space": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "guid": {
                                "type": "string",
                                "description": "Unique identifier of the space."
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "environment_variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guid": {
                      "type": "string",
                      "description": "Unique identifier of the application."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the application."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "STARTED",
                        "STOPPED"
                      ],
                      "description": "Current state of the application."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/v3/apps/{guid}": {
      "summary": "Manage a specific application.",
      "description": "Access, update, or delete a specific application by GUID.",
      "get": {
        "summary": "Retrieve app details",
        "description": "Get information about a specific app by its GUID.",
        "operationId": "listApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing app details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guid": {
                      "type": "string",
                      "description": "The GUID of the app."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the app."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "STARTED",
                        "STOPPED"
                      ],
                      "description": "The current state of the app."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the app was created."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the app was last updated."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "patch": {
        "summary": "Update an app",
        "description": "Update details of a specific app by its GUID.",
        "operationId": "updateApplications",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "description": "The GUID of the app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the app."
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "STARTED",
                      "STOPPED"
                    ],
                    "description": "The new state of the app."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response after updating the app.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1v3~1apps~1%7Bguid%7D/get/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "404": {
            "description": "App not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v3/apps/{guid}/processes": {
      "summary": "List processes for an application.",
      "description": "Retrieve processes associated with the specified application.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/apps/{guid}/tasks": {
      "summary": "List tasks for an application.",
      "description": "Retrieve tasks associated with the specified application.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/buildpacks": {
      "summary": "Manage buildpacks.",
      "description": "List or update buildpacks used for building applications."
    },
    "/v3/buildpacks/{guid}": {
      "summary": "Manage a specific buildpack.",
      "description": "Access or update a specific buildpack by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/builds": {
      "summary": "Manage builds.",
      "description": "List or create builds for applications."
    },
    "/v3/builds/{guid}": {
      "summary": "Manage a specific build.",
      "description": "Access details of a specific build by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/droplets": {
      "summary": "Manage droplets.",
      "description": "Interact with droplets, which are deployable artifacts of builds."
    },
    "/v3/droplets/{guid}": {
      "summary": "Manage a specific droplet.",
      "description": "Access or update a specific droplet by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/droplets/{guid}/assignments": {
      "summary": "Assign droplets to applications.",
      "description": "Assign a specific droplet to an application by GUID."
    },
    "/v3/environment_variables": {
      "summary": "Manage environment variables.",
      "description": "Manage environment variables at the platform level."
    },
    "/v3/events": {
      "summary": "List audit events.",
      "description": "Access audit events generated by API operations."
    },
    "/v3/features": {
      "summary": "Manage platform-wide features.",
      "description": "List or update features available in the platform."
    },
    "/v3/features/{name}": {
      "summary": "Manage a specific platform feature.",
      "description": "Access or update details of a specific platform feature by name.",
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "description": "The name of the resource.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v3/jobs": {
      "summary": "Manage jobs for long-running tasks.",
      "description": "List or monitor the status of background jobs."
    },
    "/v3/jobs/{guid}": {
      "summary": "Monitor the status of a specific job.",
      "description": "Check the status or result of a background job by GUID.",
      "parameters": [
        {
          "name": "guid",
          "in": "path",
          "required": true,
          "description": "The GUID of the resource.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v3/organizations": {
      "summary": "Manage organizations.",
      "description": "List or manage organizations in the platform."
    },
    "/v3/organizations/{guid}": {
      "summary": "Manage a specific organization.",
      "description": "Access or update details of an organization by GUID."
    },
    "/v3/organizations/{guid}/spaces": {
      "summary": "List spaces in an organization.",
      "description": "Retrieve all spaces associated with the specified organization.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/packages": {
      "summary": "Manage packages.",
      "description": "List, create, or update packages for applications."
    },
    "/v3/packages/{guid}": {
      "summary": "Manage a specific package.",
      "description": "Access or update details of a package by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/processes": {
      "summary": "Manage processes.",
      "description": "List or update processes for applications."
    },
    "/v3/processes/{guid}": {
      "summary": "Manage a specific process.",
      "description": "Access or update details of a specific process by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/processes/{guid}/instances": {
      "summary": "Scale or restart instances of a process.",
      "description": "Manage instances associated with a specific process.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/roles": {
      "summary": "Manage user roles and permissions.",
      "description": "List or update roles for users in organizations or spaces."
    },
    "/v3/routes": {
      "summary": "Manage routes.",
      "description": "List or create routes for applications."
    },
    "/v3/routes/{guid}": {
      "summary": "Manage a specific route.",
      "description": "Access or update details of a route by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/service_brokers": {
      "summary": "Manage service brokers.",
      "description": "List or manage service brokers in the platform."
    },
    "/v3/service_instances": {
      "summary": "Manage service instances.",
      "description": "Create, update, or delete service instances."
    },
    "/v3/service_bindings": {
      "summary": "Manage service bindings.",
      "description": "Manage bindings between service instances and applications."
    },
    "/v3/spaces": {
      "summary": "Manage spaces.",
      "description": "List, create, or update spaces in the platform."
    },
    "/v3/spaces/{guid}": {
      "summary": "Manage a specific space.",
      "description": "Access or update details of a specific space by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/tasks": {
      "summary": "Manage tasks.",
      "description": "List, create, or update tasks for applications."
    },
    "/v3/tasks/{guid}": {
      "summary": "Manage a specific task.",
      "description": "Access or update details of a specific task by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    },
    "/v3/users": {
      "summary": "Manage users.",
      "description": "List or manage user accounts in the platform."
    },
    "/v3/users/{guid}": {
      "summary": "Manage a specific user.",
      "description": "Access or update details of a specific user by GUID.",
      "parameters": [
        {
          "$ref": "#/paths/~1v3~1jobs~1%7Bguid%7D/parameters/0"
        }
      ]
    }
  }
}

