oauth:
  type: oauth2
  description: OAuth 2.0 implicit flow used by Cloud Foundry for user authentication and authorization via UAA.
  flows:
    implicit:
      authorizationUrl: https://uaa.cloudfoundry.local/api-oauth/dialog
      scopes:
        cloud_controller.admin: This scope provides read and write access to all resources
        cloud_controller.admin_read_only: This scope provides read only access to all resources
        cloud_controller.global_auditor: This scope provides read access to all resources
        cloud_controller.read: Read access to the Cloud Controller
        cloud_controller.write: Write access to the Cloud Controller
        cloud_controller.update_build_state: >-
          This scope allows its bearer to update the state of a build;
          currently only used when updating builds
        cloud_controller_service_permissions.read: >-
          This scope provides read only access for service instance
          permissions
bearer:
  type: http
  scheme: bearer
  bearerFormat: JWT
  description: Bearer JWT token authentication
