openapi: 3.1.0
info:
  title: Cloud Foundry API
  description: >
    API compatible with Cloud Controller API v3, enabling developers to interact
    with Cloud Foundry resources programmatically.
  version: 0.0.1
  contact:
    name: Cloud Foundry Foundation
    url: https://cloudfoundry.org
  termsOfService: https://cloudfoundry.org/terms
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "https://api.cf.eu10.hana.ondemand.com/v3"
    description: "SAP production server"
tags:
  - name: Platform
    description: Operations related to platform information and metadata.
  - name: Application
    description: Endpoints for managing applications.
  - name: Droplet
    description: Endpoints for managing droplets.
components:
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://uaa.cloudfoundry.local/api-oauth/dialog
          scopes:
            cloud_controller.admin: This scope provides read and write access to all resources
            cloud_controller.admin_read_only: This scope provides read only access to all resources
            cloud_controller.global_auditor: This scope provides read access to all resources
            cloud_controller.read: Read access to the Cloud Controller
            cloud_controller.write: Write access to the Cloud Controller
            cloud_controller.update_build_state: This scope allows its bearer to update the state of a build; currently only used when updating builds
            cloud_controller_service_permissions.read: This scope provides read only access for service instance permissions
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer JWT token authentication
paths:
  /v3/info:
    $ref: './components/paths/info.yaml'
  /v3/info/usage_summary:
    $ref: './components/paths/info_usage_summary.yaml'
  /v3/apps:
    $ref: './components/paths/apps.yaml'
  
  
  # /v3/apps/{guid}:
  #   $ref: './components/paths/app.yaml'
  # /v3/apps/{guid}/droplets/current:
  #   $ref: ./components/paths/app-droplet-current.yaml
  # /v3/apps/{guid}/env:
  #   $ref: './components/paths/app_env.yaml'




    
            
  # /v3/apps/{guid}/processes:
  #   summary: List processes for an application.
  #   description: Retrieve processes associated with the specified application.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/apps/{guid}/tasks:
  #   summary: List tasks for an application.
  #   description: Retrieve tasks associated with the specified application.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/buildpacks:
  #   summary: Manage buildpacks.
  #   description: List or update buildpacks used for building applications.
  # /v3/buildpacks/{guid}:
  #   summary: Manage a specific buildpack.
  #   description: Access or update a specific buildpack by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/builds:
  #   summary: Manage builds.
  #   description: List or create builds for applications.
  # /v3/builds/{guid}:
  #   summary: Manage a specific build.
  #   description: Access details of a specific build by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/droplets:
  #   summary: Manage droplets.
  #   description: Interact with droplets, which are deployable artifacts of builds.
  # /v3/droplets/{guid}:
  #   summary: Manage a specific droplet.
  #   description: Access or update a specific droplet by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/droplets/{guid}/assignments:
  #   summary: Assign droplets to applications.
  #   description: Assign a specific droplet to an application by GUID.
  # /v3/environment_variables:
  #   summary: Manage environment variables.
  #   description: Manage environment variables at the platform level.
  # /v3/events:
  #   summary: List audit events.
  #   description: Access audit events generated by API operations.
  # /v3/features:
  #   summary: Manage platform-wide features.
  #   description: List or update features available in the platform.
  # /v3/features/{name}:
  #   summary: Manage a specific platform feature.
  #   description: Access or update details of a specific platform feature by name.
  #   parameters:
  #   - $ref: './components/parameters/name.yaml'
  # /v3/jobs:
  #   summary: Manage jobs for long-running tasks.
  #   description: List or monitor the status of background jobs.
  # /v3/jobs/{guid}:
  #   summary: Monitor the status of a specific job.
  #   description: Check the status or result of a background job by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/organizations:
  #   summary: Manage organizations.
  #   description: List or manage organizations in the platform.
  # /v3/organizations/{guid}:
  #   summary: Manage a specific organization.
  #   description: Access or update details of an organization by GUID.
  # /v3/organizations/{guid}/spaces:
  #   summary: List spaces in an organization.
  #   description: Retrieve all spaces associated with the specified organization.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/packages:
  #   summary: Manage packages.
  #   description: List, create, or update packages for applications.
  # /v3/packages/{guid}:
  #   summary: Manage a specific package.
  #   description: Access or update details of a package by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/processes:
  #   summary: Manage processes.
  #   description: List or update processes for applications.
  # /v3/processes/{guid}:
  #   summary: Manage a specific process.
  #   description: Access or update details of a specific process by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/processes/{guid}/instances:
  #   summary: Scale or restart instances of a process.
  #   description: Manage instances associated with a specific process.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/roles:
  #   summary: Manage user roles and permissions.
  #   description: List or update roles for users in organizations or spaces.
  # /v3/routes:
  #   summary: Manage routes.
  #   description: List or create routes for applications.
  # /v3/routes/{guid}:
  #   summary: Manage a specific route.
  #   description: Access or update details of a route by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/service_brokers:
  #   summary: Manage service brokers.
  #   description: List or manage service brokers in the platform.
  # /v3/service_instances:
  #   summary: Manage service instances.
  #   description: Create, update, or delete service instances.
  # /v3/service_bindings:
  #   summary: Manage service bindings.
  #   description: Manage bindings between service instances and applications.
  # /v3/spaces:
  #   summary: Manage spaces.
  #   description: List, create, or update spaces in the platform.
  # /v3/spaces/{guid}:
  #   summary: Manage a specific space.
  #   description: Access or update details of a specific space by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/tasks:
  #   summary: Manage tasks.
  #   description: List, create, or update tasks for applications.
  # /v3/tasks/{guid}:
  #   summary: Manage a specific task.
  #   description: Access or update details of a specific task by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'
  # /v3/users:
  #   summary: Manage users.
  #   description: List or manage user accounts in the platform.
  # /v3/users/{guid}:
  #   summary: Manage a specific user.
  #   description: Access or update details of a specific user by GUID.
  #   parameters:
  #   - $ref: './components/parameters/guid.yaml'


